<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style1.css}"/>
</head>
<body>
<div class="container">
<h2>Update User Password</h2>
<form action="#" th:action="@{/admin/updatePassword1}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="newPassword" />
    </div>
    <div>
        <button type="submit">Update Password</button>
    </div>
    <div>
        <a href="/admin/dashboard">Back to Main Menu</a>
    </div>
</form>
</div>
</body>
</html>