<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Signup</title>
  <link rel="stylesheet" type="text/css" th:href="@{/style1.css}"/>
</head>
<body>
<div class="container">
<h1>User Signup</h1>
<form th:action="@{/users/signup}" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
  <div>
    <a href="/">Back to Main Menu</a>
  </div>
</form>
<p class="error-message" th:if="${signupError}" th:text="${signupError}"></p></div>
</body>
</html>
